<h1><%= ENV['ADMIN_ROLE'] -%>s' Board</h1>

<h2><%= ENV['ADMIN_ROLE'] -%>s</h2>
<table>
	<thead>
		<td>Name</td>
		<td>email</td>
		<td>Confirmed</td>
	</thead>
	<% @approved.each do |user| %>
	   <tr>
	   	<td><%= "#{user.first_name} #{user.last_name}" %> </td>
        <td><%= user.email %></td>
        <td>
            <%= "Yes" if user.confirmed? %>
            <%= button_to "Confirm him", confirm_board_url(user), :method => :put, :confirm => 'Are you sure?' if !user.confirmed? %>
        </td>
	   </tr>
	<% end %>
</table>
