<h1><%= ENV['ADMIN_ROLE'] -%>s' Board</h1>

<h2><%= ENV['ADMIN_ROLE'] -%>s</h2>
<em>(<%= @approved.count %> <%= "user".pluralize(@approved.count) %>)</em>

   <%= render 'user_lever', :users => @approved %>



<h2>Normal Users</h2>
<em>(<%= @plebeians.count %> <%= "user".pluralize(@approved.count) %>)</em>

    <%= render 'user_lever', :users => @plebeians %>

