<p id="notice"><%= notice %></p>

<h1>Listing Register Models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Explanation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @register_models.each do |register_model| %>
      <tr>
        <td><%= register_model.name %></td>
        <td><%= register_model.explanation %></td>
        <td><%= link_to 'Show', register_model %></td>
        <td><%= link_to 'Edit', edit_register_model_path(register_model) %></td>
        <td><%= link_to 'Destroy', register_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Register model', new_register_model_path %>
