<p id="notice"><%= notice %></p>

<h1>Listing Register Models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ver</th>
      <th>Explanation</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @register_models.each do |register_model| %>
      <tr>
        <td>
            <%= link_to image_tag('word16.png') + " " + register_model.name,
                        register_model.document.url %>
        <td>
            v<%= register_model.versions.count - 1%>
        </td>
        <td><%= register_model.explanation %></td>

        <% if user_signed_in? %>
          <td><%= link_to 'Show', register_model %></td>

          <% if current_user.admin? %>
            <td><%= link_to 'Edit', edit_register_model_path(register_model) %></td>
            <td><%= link_to 'Destroy', register_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Register model', new_register_model_path if you_are_admin? %>
