<p id="notice"><%= notice %></p>

<h2>
  <%= link_to @register_model.name,
              @register_model.document.url %>
</h2>

<%= link_to image_tag('word64.png', :alt => @register_model.name),
              @register_model.document.url %>




<h3>Explanation</h3>
<p>
  <%= @register_model.explanation %>
</p>

<h3>Older Versions</h3>
<table>
    <thead>
    	<th>File</th>
    	<th>Operated</th>
    	<th>Author</th>
    </thead>
	<% @register_model.versions.reverse.each do |version| %>
		<tr>
		   <% if version.reify %>
		   <td>
		      <%=  link_to "#{@register_model.name} v#{version.index}",
		                    version.reify.document.url %>
		   </td>
		   <td> <em><%= version.created_at.to_s(:long) %></em> </td>
		   <td> <%= creator_of version %> </td>
		  <% end %>
		</tr>
	<% end %>
</table>

<p>Initial version: <%=  link_to_first_version @register_model %></p>

<%= link_to 'Edit', edit_register_model_path(@register_model) if you_are_admin? %>
<%= "|" if you_are_admin? %>
<%= link_to 'Back', register_models_path %>
