<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%#= f.number_field :parent_id %>
    <%= select_tag "area[parent_id]", nested_options(Area.all, :selected => @area.parent), class: :nested_options %>
  </div>

  <div class="field">
    <%= hidden_field_tag 'area[level_ids][]', nil %>
    <% Level.all.each do |level| %>
        <%= check_box_tag('area[level_ids][]', level.id,
                      @area.levels.include?(level),
                      id: dom_id(level) )%>
        <%= label_tag dom_id(level), pretty(level.name) %><br/>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
