<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%#= f.number_field :parent_id %>
    <%= select_tag "area[parent_id]", nested_options(Area.all, :selected => @area.parent), class: :nested_options, include_blank: true %>
  </div>

  <div class="field">
  <h3>Related Levels</h3>
    <%= hidden_field_tag 'area[level_ids][]', nil %>
    <%= traverse_tree(Level.roots) do |level| %>
          <%= show_checkbox(@area, level, disabled: !level.leaf?) %> <br/>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
