<p id="notice"><%= notice %></p>

<p>
  <h2>
     <%= pretty @area.name %>
  </h2>
  <em>
  ( Depth:
     <%= @area.depth %>
  )
  </em>
</p>

<p>
  <strong>Parent:</strong>
  <%= pretty @area.parent_name %>
</p>


<% if @area.children.count != 0 %>
  <p>
    <strong>
    Children
    ( <%= @area.children.count %>): </strong>
    <br/>
    <em> <%= show_together @area.children %></em>
  </p>

<% end %>

<p>
  <strong>Levels:</strong>
  <%= show_together @area.levels %>
</p>
<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', manage_areas_path %>
