<%= form_for(@level) do |f| %>
  <% if @level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% @level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br>
    <%#= f.collection_select :parent_id, Level.all, :id, :name %>
    <%= select_tag "level[parent_id]", nested_options(Level.all, :selected => @level.parent), class: :nested_options %>
  </div>

  <div class="field">
  <%= hidden_field_tag 'level[area_ids][]', nil %>
    <% Area.all.each do |area| %>
         <%= check_box_tag('level[area_ids][]', area.id,
                           @level.areas.include?(area),
                           id: dom_id(area) )%>
         <%= label_tag dom_id(area), pretty(area.name) %> <br/>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
