<p id="notice"><%= notice %></p>

<p>
  <h2><%= pretty @level.name %></h2>

  <em>
  (
  level
  <%= @level.depth %>
  )
  </em>

</p>

<p>
  <strong>Belongs to:</strong>
  <%= pretty @level.parent_name %>
</p>

<% if @level.children.count != 0 %>
  <p>
    <strong>
    Children
    ( <%= @level.children.count %>): </strong>
    <br/>
    <em> <%= show_together @level.children %></em>
  </p>

<% end %>

<p>
  <strong>Areas:</strong>
  <%= show_together @level.areas %>
</p>

<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', manage_levels_path %>
